body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
}

header{
    margin: 0px;
    padding: 5px;
    background-color: #101010;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0px 5px 20px #000;
}

h1 {
    margin: 0px;
    padding: 10px;
    font-family: Cambria;
    text-align: center;
    color: #e72416;
}

.menu {
    margin: 0px;
    text-align: center;
}

ul,li{
    display: inline-block;
    margin: 0px;
    padding: 0px 20px 5px 0px;
}

.menuitem{
    margin: 0px;
    text-decoration: none;
    color: white;
    font-family: Georgia;
    font-size: 20px;
}

.menuitem:hover{
    color: #e72416
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: calc(80% - 20px);
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #3b3b3b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #e72416;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px;
}

@media (max-width:720px){
    ul,li{
        padding: 0px 3px 5px 0px;
    }
}
