.container{
    display: block;
}

table{
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    border: 2px solid #000;
    border-collapse: collapse;
    border-radius: 5px;
}

td, th{
    border: 1px solid #ddd;
}

th{
    background-color: #e72416;
    color: #fff;
}

tr{
    background-color: #f5f5f5d2;
}

tr:nth-child(even){
    background-color: #f5f5f5;
}

h2 {
    margin: 0px;
    padding-bottom: 20px;
    font-family: Cambria;
    font-weight: bold;
    font-size: 1.5em;
    color: #e72416;
    width: 100%;
    text-align: center;
}

@media (max-width:750px){
    .table thead{       
        display:none
    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 99%;
    }
    
    .table tr{
        margin-bottom: 15px;
    }

    .table td{
        text-align: right;
        position: relative;
    }
    
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0px;
        width: 50%;
        padding-left: 0px;
        font-weight: bold;
        color: #e72416;
    }
}